body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

#sidebar {
    background-color: #fff;
    width: 250px;
    min-height: 100vh;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.navbar-toggler {
    border: none;
}

.nav-item.active {

    background-color: #f1f1f1;
    border-left: 5px solid red;

}


.telas {
    background-color: #ffffff;
}

.menu-item {
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}



.section {
    display: none;
}

.table th,
.table td {
    vertical-align: middle;
}

.table th {
    font-weight: bold;
}

.text-danger {
    color: red !important;
}

.text-success {
    color: green !important;
}

.periodo-analisado select {
    border: none;
    font-weight: bold;
    color: red;
    background-color: transparent;
}

.voltar {
    background-color: #6c757d;
    color: #fff;
}

.preciso-de-ajuda {
    float: right;
    font-weight: bold;
    color: red;
}

.preciso-de-ajuda img {
    width: 20px;
    margin-right: 10px;
}

/* Busca e filtro */
.filter-button, .find-button {
    background-color: #FF0A18;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

/* Tabela */
.custom-table {
    margin-top: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border-collapse: collapse;
    overflow: hidden;
}

.custom-table th {
    background-color: #e0e0e0;
    color: #333;
    padding: 12px;
    font-size: 14px;
    text-align: center;
}

.custom-table td {
    padding: 12px;
    text-align: center;
    border-top: 1px solid #ddd;
}

.credit {
    color: green;
}

.debit {
    color: #FF0A18;
}

.taxa-negativa {
    color: #FF0A18;
}

.saldo-positivo {
    color: green;
}

.saldo-negativo {
    color: #FF0A18;
}

@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1030;
        transition: left 0.3s ease;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar-toggler.collapsed+#sidebar {
        left: 0;
    }

    .navbar-toggler.collapsed {
        left: 100%;
        transition: left 0.3s ease;
    }

    .telas {
        padding: 10px;
    }

    .menu-item {
        padding: 10px;
        font-size: 14px;
    }

    .voltar {
        width: 100%;
    }

    .search-bar {
        font-size: 14px;
    }

    .search-button, .filter-button {
        right: 10px;
    }
}